@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
}

.background-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/*-------------Start of About Section--------------*/

.about{
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about img {
    width: 10%;
    flex-basis: 15%;
    border-radius: 15px;
    margin: 20px auto;
}

.col{
    flex-basis: 50%;
}

.col p{
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #2ffd40;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #18af4b;
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents.active-tab ul li{
    color: white;
}

/*-------------End of About Section--------------*/

/*-------------Start of Contact Section--------------*/

.contact .container{
    padding: 10px 10%;
    background-color: black;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-left{
    display: inline-block;
    flex-basis: 35%;
}

.contact-right{
    display: inline-block;
    flex-basis: 60%;
}

.contact-left p{
    color: #fff;
    margin-top: 30px;
    font-size: 20px;
}

.contact-left p i{
    color: #2ecc71;
    margin-right: 15px;
    font-size: 25px;
}

.contact-left h1{
    color: #fff;
    font-size: 36px;
    margin-left: 16px;
    margin-top: 16px;
}

.social{
    margin-top: 30px;
}

.social a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: #ababab;
    transition: transform 0.5s;
}

.social a.insta:hover{
    color: #E4405F;
    transform: translateY(-5px);
}

.social a.yt:hover{
    color: #ff0000;
    transform: translateY(-5px);
}

.social a.linkedin:hover{
    color: #0e76a8;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #2ecc71;
    background: #2ecc71;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    border: 1px solid #fff;
    background: #fff;
    color: #2ecc71;
}

/* .btn:hover::after{
    transition: transform 0.5s;
} */

/*-------------End of Contact Section--------------*/

/*-------------Start of Universal Footer Component--------------*/

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
}

.copyright p{
    color: white;
}

.copyright i{
    color: #ff004f;
}

#msg{
    color: #61b752;
    margin-top: -20px;
    display: block;
}

/*-------------End of Universal Footer Component--------------*/

/* @media (max-width: 500px) {
    .background-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .navbar {
        width: 100%;
        padding: 10px;
    }

    .slider-container {
        width: 100%;
        padding: 10px;
    }

    .about {
        padding: 10px;
    }
} */

/* @media (max-width: 500px) { .about { padding: 40px 10px; flex-direction: column; align-items: center; } .about img { width: 80%; margin-bottom: 20px; } .col { width: 100%; padding: 0 10px; } .slider-container { width: 100%; padding: 10px; } .contact .container { padding: 10px; } .contact-left, .contact-right { width: 100%; padding: 10px; } } */




/* @media only screen and (max-width: 930px) {
    nav .hamb{
        display: initial;
    }
    .click{
        top: 46px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(40deg);
        top: 0;
    }
    
    nav .submenus{
        position: absolute;
        top: 90px;
        right: -65%;
        bottom: 0;
        width: 60%;
        height: 50%;
        background: slategrey;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right;
        border-radius: 10px;
    }

    nav .submenus li{
        display: block;
    }

    nav .submenus li a{
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        margin-left: 0;
        margin-bottom: 40px;
    }

    nav .submenus li.btn a{
        position: absolute;
        bottom: 0%;
        right: 20%;
        left: 20%;
        padding: 7px 15px;
        font-size: 14px;
    }

    nav .submenus.open{
        right: 0;
    }

    .contact-left p{
        visibility: visible;
        font-size: 16px;
    }
    
    .contact-left p i{
        font-size: 24px;
    }
} */

/* #msg{
    color: #61b752;
    margin-top: -20px;
    display: block;
} */